<div class="container" ng-controller="MainController as login">
	<div class="row">
		<div class="colsm-6 col-md-4 col-md-offset-4">
			<form class="form-login" method="post" ng-submit="login.doLogin()">
				Username: <input type="text" class="form-control" name="username" ng-model="login.logindata.username">
				Password: <input type="password" class="form-control" name="password" ng-model="login.logindata.password">
				<button type="submit" class="btn btn-success">Login</button>
			</form>
		</div>
	</div> 
</div>






